<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th> Capital </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i = index">
            <td>{{i+1}}</td>
            <td>
                <img class= "small-flag" [src]="pais.flags.png" />
            </td>
            <td>{{pais.name.common}}</td>
            <td>{{pais.population | number}}</td>
            <td>{{pais.capital}}</td>
            <td>
                <a [routerLink]="['/pais', pais.cca2]" >Ver...</a>
            </td>
        </tr>
    </tbody>
</table>