<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input></app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el término {{ termino }}.
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>